{% load static %}
{% load hosts %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block seo %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM6g0g5g5g5g5g5g5g5g5g5g5g5g5g5g5g5g5" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'files/css/master.css' %}">
    {% block headscripts %}{% endblock %}
    {% block headlinks %}{% endblock %}
</head>
<body>

    {% block navbar %}{% endblock %}

    {% if messages %}
    <!-- Messages Container (for Django messages) -->
    <div id="messages-container" class="messages-container">
        {% for message in messages %}
        <div class="message {{ message.tags }}">
            <span class="message-text">{{ message }}</span>
            <button class="close-btn">&times;</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% block body %}{% endblock %}

    <footer class="bg-light padding-md text-center text-small text-color-dark margin-top-xl">
    <small>© 2025 PrescribeMate. All Rights Reserved.</small>
    </footer>

    <script src="{% static 'files/js/master.js' %}"></script>

    {% block bodyscripts %}{% endblock %}

</body>
</html>