{% extends 'core/base.html' %}
{% load static %}
{% load hosts %}

{% block title %}
Administration page
{% endblock %}

{% block head_links %}
{% endblock %}

{% block header_scripts %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="user-type-lists">
        <a onclick="showContent('1')" class="br-3 border-bt-blue fw-700 fs-14 clr-white bg-blue">Add a stuff</a>
        <a onclick="showContent('2')" class="br-3 border-bt-blue fw-700 fs-14 clr-blue bg-white">List of stuffs</a>
    </div>
    <div class="content" id="1">
        <form action="{% host_url 'administration' host 'www' %}" method="POST">
            {% csrf_token %}
            <select name="role" aria-placeholder="Select a role" class="br-3 border-card bg-white clr-black fs-12 fw-500 shadow-card pd-btn">
                <option value="doctor_as_dev">Doctor as Dev</option>
            </select>
            <input type="text" name='name' placeholder="Name" class="br-3 border-card bg-white clr-black fs-12 fw-500 shadow-card pd-btn">
            <input type="submit" value="Confirm adding staff" class="bg-blue fw-700 fs-12 pd-btn br-3 clr-white">
        </form>
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
{% endblock %}