{% extends 'core/base.html' %}
{% load static %}
{% load hosts %}

{% block title %}
Administration page
{% endblock %}

{% block head_links %}
{% endblock %}

{% block header_scripts %}
{% endblock %}

{% block body %}
<h3 class="margin-top-md text-center">Hospital Registration Requests</h3>
<div class="card shadow-sm padding-xxl">
<table class="full-width">
    <thead>
    <tr class="bg-dark text-light">
        <th class="padding-sm text-left">Brand Name</th>
        <th class="padding-sm text-left">Reg Code</th>
        <th class="padding-sm text-left">Legal Contact</th>
        <th class="padding-sm text-left">Approval Link</th>
    </tr>
    </thead>
    <tbody>
    {% for hreq in hrequests %}
    <tr class="bg-light padding-sm">
        <td class="padding-sm">{{ hreq.brand_name }}</td>
        <td class="padding-sm">{{ hreq.reg_code }}</td>
        <td class="padding-sm">{{ hreq.legal_contact }}</td>
        <td class="padding-sm"><a href="{% url 'hospitalregistrationrequestapprove' pk=hreq.id %}" class="text-primary">Approve</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

{% block footer_scripts %}
{% endblock %}