{% load static %}
{% load hosts %}
<nav class="bg-light shadow-md padding-md">
    <div class="flex flex-column flex-align-center">
        <!-- Centered Logo -->
        <div class="margin-bottom-md">
            <a href="{% host_url 'home' host 'www' %}">
                <img src="{% static 'files/images/logo.svg' %}" height="80" width="80" alt="Prescribemate">
            </a>
        </div>
        
        {% if 'admin' in request.path %}
        <!-- Navigation Links Row -->
        <div class="flex flex-justify-center">
            <ul class="flex gap-lg list-style-none">
                <li>
                    <a href="{% host_url 'administration' host 'www' %}" 
                       class="btn {% if 'administration' in request.path %}bg-primary text-light{% else %}btn-outline{% endif %}">
                        Administration
                    </a>
                </li>
                <li>
                    <a href="#" 
                       class="btn {% if 'other' in request.path %}bg-primary text-light{% else %}btn-outline{% endif %}">
                        Other links
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</nav>